body {
    text-align: center;
}

section {
    margin: 0 20%;
}

#aboutheader, #solheader {
    background-color: #747578;
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

