body {
    display: flex;
    margin: 0;
    padding: 0%;
    flex-direction: column;
    width: 100%;
    margin: auto;
    background-color: black;
    font-family: 'Fredoka One', cursive;
}
.home {
    padding-left: 20px;
    color: white;
}
.stay {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    background-color:rgba(231,59,5,0.8);
}
#bob {
  right: 0;
  bottom: 0;
  width: 100%;
  min-height: 100%;
}
.main {
    /*border: 2px solid black;*/
    display: flex;
    width: inherit;
    flex-direction: row;
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/8bdec6bc-0ef4-4d9c-bf67-5fdaaea0b446/d3k1vk9-b7cf33ff-c725-47b2-a75b-7badd2551570.jpg/v1/fill/w_900,h_900,q_75,strp/tileable_wood_texture_02_by_ftourini_d3k1vk9-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD05MDAiLCJwYXRoIjoiXC9mXC84YmRlYzZiYy0wZWY0LTRkOWMtYmY2Ny01ZmRhYWVhMGI0NDZcL2QzazF2azktYjdjZjMzZmYtYzcyNS00N2IyLWE3NWItN2JhZGQyNTUxNTcwLmpwZyIsIndpZHRoIjoiPD05MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.BKBI1en8wCAEVYsFhKux_dJcz-DBigfWCgaxjjMxmMI);
}

article {
    border: 5px solid #747578;
    background-image: url(https://img.freepik.com/free-photo/design-space-paper-textured-background_53876-42312.jpg?size=626&ext=jpg);
    padding: 10px;
    
}

section {
    padding: 20px;
    
}

footer {
    width: 100%;
}


#col-1 img, #col3 img {
    margin-top: 20px;
}

h2 {
    color: #93B7BE;
}

img {
    max-height: 200px;
    border: 5px solid #93B7BE;
}
.abs {
    position: relative;
    top: 100px;
}
footer {
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
}
#webpages {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ul {
    display: flex;
    align-items: center;
    width: 300px;
    justify-content: space-evenly;
    font-weight: bold;
}


.cover {
    background-image: url();
    background-size: cover;
    
}
/* forms css this is where the form css goes to/*/
#body {
    /*background-image: url(https://files.slack.com/files-pri/TKZN62HDF-F01CLRY2WLC/image.png);/*/
    height: 1000px;
    background-size: cover;
    width: 100%;
    margin: 0;
    overflow: auto;
    position: fixed;
}
.video-container {
   padding: 0;
   height: 100%;
}
.form {
    display: flex;
    width: 70%;
    height: 100%;
    margin: auto;
    flex-direction: column;
    align-items: stretch;
    overflow: auto;
}
.survey {
    display: flex;
    flex-direction: column;
    width: 80%;
}
.video-background {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
}
.vidman {
   background-size: cover;
}
.sep {
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 20px;
}
.row1, .row2, .row3, .row4 {
    display: flex;
}

#col-1 figure img {
    width: 100%;
    max-height: 400px;
}

#col2{
    text-align: center;
    font-size: 20px;
    /*border: 5px solid #747578;*/
    height: 50%;
    width: 70%;
}


/*#col2-bod {*/
/*    border: 2px solid white;*/
/*    display: flex;*/
/*    align-items: center;*/
    
/*}*/

.link {
    margin-bottom: 40%;
    border: 10px solid black;
    background-color: white;
}
.link:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
.design {
    background: lightgray;
    width: 10%;
    height: 30px;
    border: 1px solid white;
    cursor: cell;
    margin-top: 30px;
    margin-left: 300px;
}
.design:hover {
    background: url(https://www.mewallpaper.com/thumbnail/abstract/8831-blending-colors-free-download-wallpaper-hd.jpg);
}
.design:active {
  box-shadow: 0 5px #666;
}



a:link
{
   color: black;
   text-decoration: underline;
}
a:visited
{
   color: black;
   text-decoration: none;
}
a:hover
{
   color: black;
   text-decoration: none;
}
a:active
{
   color: black;
   text-decoration: none;
}
.request {
    width: 30%;
}
.requests {
    width: 35%;
    height: 40px;
}